<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Book Crawler</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Log-out</a></li>
        </ul>
    </div>
</nav>

<div class="background-img">
    <div class="main-container">
        <h3>Find books with just one click! </h2>

            <div class="row">
                <form class="col s12" action="">
                    <div class="row">
                        <div class="input-field col s4">
                            <input type="text" name="user-name" id="book-search" class="validate">
                            <label class="active searchBar" for="book-search">Search for Books here:</label>
                        </div>
                    </div>

                    <div class="row">
                        <div id="submitBook" class="input-field col s4 ">
                            <button class="waves-effect waves-light btn" type="submit"><a href="">Search</a></button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- <div>  
    <h5>Book search:</h5>
    <input type="text" name="" id="" placeholder="type here">
    <button class="" onclick="searchBooks()">Search</button>
  </div> -->
            <h4>Book(s) Selected</h4>
            {{!-- 
        <div class="bookList"> --}}

            {{!-- {{#each books}}

            <div class="card blue-grey darken-1" id={{id}}>
                <img class="bookImage" src="{{book_image_url}}" alt="">
                <div class="card-content white-text">
                    <span class="card-title">{{book_title}}</span>
                    <p>{{book_summary}}</p>
                    <p>{{book_author}}</p>
                </div>
                <div class="card-action">
                    <a href="{{book_preview_url}}">Preview the book</a>
                </div>
            </div>
            {{/each}} --}}

            <div class="row bookList">

                <div class="col mr2 books">
                    <div class="row">
                        <div class="input-field col col s4"></div>
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text center">
                                <span class="card-title">book1</span>
                                <p>jfhgjkhg</p>
                                <p>efrhjkj</p>
                                <img class="booksImg" src="assets/images/books2.jpeg" alt="Three Books with leaves"
                                    width="200" height="240">
                            </div>
                            <div class="card-action">
                                <a href="">Preview the book</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col mr2 books">
                    <div class="row">
                        <div class="input-field col col s4"></div>
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text center">
                                <span class="card-title">book1</span>
                                <p>jfhgjkhg</p>
                                <p>efrhjkj</p>
                                <img class="booksImg" src="assets/images/books2.jpeg" alt="Three Books with leaves"
                                    width="200" height="240">
                            </div>
                            <div class="card-action">
                                <a href="">Preview the book</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col mr2 books">
                    <div class="row">
                        <div class="input-field col col s4"></div>
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text center">
                                <span class="card-title">book1</span>
                                <p>jfhgjkhg</p>
                                <p>efrhjkj</p>
                                <img class="booksImg" src="assets/images/books2.jpeg" alt="Three Books with leaves"
                                    width="200" height="240">
                            </div>
                            <div class="card-action">
                                <a href="">Preview the book</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col mr2 books">
                    <div class="row">
                        <div class="input-field col col s4"></div>
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text center">
                                <span class="card-title">book1</span>
                                <p>jfhgjkhg</p>
                                <p>efrhjkj</p>
                                <img class="booksImg" src="assets/images/books2.jpeg" alt="Three Books with leaves"
                                    width="200" height="240">
                            </div>
                            <div class="card-action">
                                <a href="">Preview the book</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col mr2 books">
                    <div class="row">
                        <div class="input-field col col s4"></div>
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text center">
                                <span class="card-title">book1</span>
                                <p>jfhgjkhg</p>
                                <p>efrhjkj</p>
                                <img class="booksImg" src="assets/images/books2.jpeg" alt="Three Books with leaves"
                                    width="200" height="240">
                            </div>
                            <div class="card-action">
                                <a href="">Preview the book</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col mr2 books">
                    <div class="row">
                        <div class="input-field col col s4"></div>
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text center">
                                <span class="card-title">book1</span>
                                <p>jfhgjkhg</p>
                                <p>efrhjkj</p>
                                <img class="booksImg" src="assets/images/books2.jpeg" alt="Three Books with leaves"
                                    width="200" height="240">
                            </div>
                            <div class="card-action">
                                <a href="">Preview the book</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col mr2 books">
                    <div class="row">
                        <div class="input-field col col s4"></div>
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text center">
                                <span class="card-title">book1</span>
                                <p>jfhgjkhg</p>
                                <p>efrhjkj</p>
                                <img class="booksImg" src="assets/images/books2.jpeg" alt="Three Books with leaves"
                                    width="200" height="240">
                            </div>
                            <div class="card-action">
                                <a href="">Preview the book</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col mr2 books">
                    <div class="row">
                        <div class="input-field col col s4"></div>
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text center">
                                <span class="card-title">book1</span>
                                <p>jfhgjkhg</p>
                                <p>efrhjkj</p>
                                <img class="booksImg" src="assets/images/books2.jpeg" alt="Three Books with leaves"
                                    width="200" height="240">
                            </div>
                            <div class="card-action">
                                <a href="">Preview the book</a>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col mr2 books">
                    <div class="row">
                        <div class="input-field col col s4"></div>
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text center">
                                <span class="card-title">book1</span>
                                <p>jfhgjkhg</p>
                                <p>efrhjkj</p>
                                <img class="booksImg" src="assets/images/books2.jpeg" alt="Three Books with leaves"
                                    width="200" height="240">
                            </div>
                            <div class="card-action">
                                <a href="">Preview the book</a>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col mr2 books">
                    <div class="row">
                        <div class="input-field col col s4"></div>
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text center">
                                <span class="card-title">book1</span>
                                <p>jfhgjkhg</p>
                                <p>efrhjkj</p>
                                <img class="booksImg" src="assets/images/books2.jpeg" alt="Three Books with leaves"
                                    width="200" height="240">
                            </div>
                            <div class="card-action">
                                <a href="">Preview the book</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            {{!-- </div> --}}

    </div>